
$primary                  : #06b5b3 !default;
$secondary                : #edf0f4 !default;
$disable                  : #f6f7f8 !default;
$error                    : #e24242 !default;
$white                    : #fff;

$font-family-sans-serif:        'Lato', sans-serif !default;
$body-color:                    #333333 !default;
$breadcrumb-bg:                 transparent !default;
$btn-focus-box-shadow:          none !default;
$btn-padding-x-sm:              2.2rem !default;
$btn-padding-y-sm:              0.5rem !default;
$btn-padding-x-lg:              4.5rem !default;
$input-btn-focus-box-shadow:    none !default;

$btn-font-size-lg:              1.4rem;
$btn-font-size-sm:              1.4rem;
$font-size-base:                1.4rem;
