.blog-page {

  .header {
    align-items: center;
    .button-group {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      .add-button {
        margin-left: 20px;
      }

      .login-button {
      }
    }

  }
  .article-card {
    width: 30rem;
    margin: 5px;

    .card-title {
      text-overflow: ellipsis;
    }
  }
}
