.blog-page {

  .header {
    align-items: center;
    .button-group {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      .add-button {
        margin-left: 20px;
      }

      .login-button {
      }
    }

  }
  .article-card {
    width: 30rem;
    margin: 5px;
    .card-subtitle {
      font-size: 16px;
      color: black !important;
    }
    .card-title {
      display: flex;
      text-overflow: ellipsis;
      justify-content: space-between;

      .edit-icon {
        cursor: pointer;
      }
      .dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        display: inline-block;
        background-color: gray;

        &.published {
          background-color: green;
        }
      }
      .status {
        margin-left: 8px;
      }
    }
    .footer {
      display: flex;
      justify-content: space-between;
    }
  }
}
